$background-color: #cee2ff;
$navbar-color: #283b5c;

$code-color: #283b5c;

$graph-severity-critical-color: #701617F2;
$graph-severity-high-color: #F44949B5;
$graph-severity-medium-color: #ED9757FF;
$graph-severity-low-color: #98D89BFF;
$graph-severity-info-color: #5799E4FF;
$graph-transitive-deps-color: #D8BC81FF;

